body {
    font-family: sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #f1faee;
}

img {
    border-radius: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #e63946;
    padding: 2.5% 2.5% 2.5% 0%;
}

.header-name {
    font-size: 2em;
    background-color: #1d3557;
    padding: 0.5% 1%;
    padding-left: 3%;
    color: #f1faee;
}

.header-links {
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.header-links a:hover {
    border-bottom: 3px solid #f1faee;
}

.hero {
    background-color: #a8dadc;
    height: 20em;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.hero h1 {
    padding: 10px 100px;
    margin-top: 200px;
    background-color: #1d3557;
    color: #f1faee;
    height: 40px;
}

.body-section {
    display: flex;
    margin: 100px 0px;
}

.side-nav-container {
    width: 25%;
    text-align: right;
    border-right: 5px solid black;
    padding-right: 24px;
    font-size: 3em;
    min-width: 196px;
}

.content-container {
    width: 75%;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.about-me-img {
    width: 400px;
    height: auto;
    border: 1px solid black;
}

.content-container p {
    width: 50%;
    font-size: 16px;
}

.content-container a {
    color: black;
    font-size: 20px;
}

.work-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.large-work-img {
    width: 100%;
    height: 350px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.smaller-work-imgs {
    width: 480px;
    height: 150px;
    margin: 9px;
    border: 1px solid black;
}

.large-work-img:hover,
.smaller-work-imgs:hover {
    box-shadow: 1px 10px 10px black;
}

@media screen and (max-width: 1220px) {
    #about-me-page {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-links {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .header-links a {
        padding: 2%;
    }
}

@media screen and (max-width: 780px) {
    .body-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .side-nav-container {
        margin-bottom: 50px;
        border-right: none;
        text-align: center;
    }

    .about-me-img {
        width: 100%;
    }

    .side-nav-container p {
        width: 100%;
    }

    .large-work-img {
        height: 150px;
    }

    .smaller-work-imgs {
        width: 100%;
    }
}